.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url("/images/143413-untitled-design-50.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: black;
}
